.login-container{
    margin-top:200px;
box-sizing: border-box;
content:cover;
}
.login-form{
   /* background-color: blue; */
   /* background:url(../../images/user-bg.gif); */
  border:2px solid grey;
   width:45%;
   /* align-items: center;
   justify-content: center; */
   margin-left:auto;
   margin-right:auto;
   height:600px;
   box-sizing: border-box;
}
.main-form{
    /* position:center;
   position: relative; */
    /* margin-left:auto;
    margin-right:auto; */
    padding-top: 60px;
    width:50%;
    margin: auto;
   
    /* background-color:orange; */
}
.user-icon{
    width:80px;
    height:80px;
   
}
.one-form{
   border:none;
    border-bottom:1px solid grey;
   
}
.icon-title-holder{
    border:1px solid green;
    border-radius: 20px;
   
    width: 40%;
    margin: auto;
}
.icon-title-holder Button{
    border-radius: 20px;
    background-color:none;
}
@media (max-width:568px),(max-width:768px){
    .main-form{
        width:90%;
    }
}